<div class="container containermain">

    <form class="well form-horizontal fm" action=" " method="post"  id="contact_form">
  <fieldset style="">
  
  <!-- Form Name -->
  <div style= "text-align: center;"><legend><h2><b >Vendor Selection</b></h2></legend><hr><br></div>
  
  
  
  
  <!--Customer Registration Number Text input-->
  
  <div class="form-group">
    <label class="col-md-4 control-label">Customer Registration Number</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-registration-mark"></i></span>
    <input  name="reg_no" placeholder="registration number" class="form-control"  type="text">
      </div>
    </div>
    </div>
  
  <!--Vendor type dropdown input-->
  <div class="form-group"> 
    <label class="col-md-4 control-label">Vendor Type</label>
      <div class="col-md-4 selectContainer">
      <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
      <select name="ven_type" class="form-control selectpicker">
          <option value="" disabled selected>select vendor type</option>
        <option >Electricity</option>
        <option>Airtel</option>
        <option>Aircel</option>
        <option >Tax</option>
        
      </select>
    </div>
    </div>
    </div>

     <!--Vendor name dropdown input-->
  <div class="form-group"> 
      <label class="col-md-4 control-label">Vendor Type</label>
        <div class="col-md-4 selectContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
        <select name="ven_type" class="form-control selectpicker">
            <option value="" disabled selected>select vendor type</option>
          <option >Electricity</option>
          <option>Airtel</option>
          <option>Aircel</option>
          <option >Tax</option>
        </select>
      </div>
      </div>
      </div>
    

  
  <!-- Button -->
  <div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4 button1"><br>
    <div class="buttons" style="display: inline-block;">
        &nbsp;&nbsp;<button type="submit" class="btn btn-warning" >
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PAY <span class="glyphicon glyphicon-thumbs-up"></span
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
  </div>
  <div class="buttons" style="display: inline-block;">
      &nbsp;&nbsp;<button type="reset" class="btn btn-warning"  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RESET&nbsp;&nbsp;<span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
  </div>
  </div>
  </div>
  
  </fieldset>
  </form>
  </div>
    <!-- /.container -->